<% include partials/header %>
    <div class="container">
      <div class="title">
        <h1>Shh! It's a party!</h1>
      </div>
      <div class="jumbotron">
        <p>Start a new party:</p>
        <input id="partyName" type="text" placeholder="Party name">
        <input id="partyMeta" type="text" placeholder="Description/genre for party">
        <span>
          <button id="newParty">Go!</button>
        </span>
        <% if (parties.length > 0) { %>
          <p>...or join an existing one:</p>
        <% } %>
        <ul>
          <% for (var party of parties) { %>
            <li>
              <a href="/party/<%= party.peerId %>" alt="<%= party.partyMeta %>" title="<%= party.partyMeta %>">
                <%= party.partyName %>
              </a>
            </li>
<!--             <li>
              <a href="/party/<%= party.peerId %>">
                <%= party.partyName %>
              </a>
            </li> -->
          <% } %>
        </ul>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

    <script src="js/index.js"></script>
<% include partials/footer %>

